<div class="container">
    <h1 class="text-center">{{title}}</h1>
    <form action="/users/searchE" method="GET">
        <div class="form-group">
            <label for="search">Enter Name: </label>
            <input type="search"class="form-control" name="search">
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
    
</div>
<br>
<div class="jumbotron">
    <div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Remarks</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each employe}}
                <tr>
                    <td>{{this.name}}</td>
                    <td> {{this.age}} </td>
                    <td> {{this.salary}} </td>
                    <td> {{this.email}}</td>
                    <td> {{this.remarks}} </td>
                    <td><a href="/users/update/{{this._id}}" class="btn btn-warning">Edit</a></td>
                    <td><a href="/users/delete/{{this._id}}" class="btn btn-danger">Delete</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</div>
